# Required for production
GOOGLE_API_KEY=AIzaSyBLHVUEA_IfgCJQHe4NNyAdQdjWk2tnqR4
OPENAI_API_KEY=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
GROQ_API_KEY=xai-5Em5hzdgMMoMVekhE0X6aE5Z60ViPERHb666wrHW99l6TIjnR893RyJ1eMapAfOpYmGuLIca0Op915zr
SARVAM_API_KEY=sk_z55wwsek_hfFEOJ7KalcovzNeWtRTGVvT
DEEPGRAM_API_KEY=3d82c31e81c9f8f3d741367db1ca6ec77698709c
SECRET_KEY=N4x3DHPeDtvCPfrlKE8GL1w9GBd5bTHidOcnOUY4kIy
FLASK_ENV=production

# Optional
PORT=5000
RENDER=true              
